<% @answer = Answer.where(["event_id = ? and user_id = ?", event.id, current_user.id]) %>
<% @group  = Group.find(event.group_id) %>
<li id="event-<%= event.id %>">
  <span class="event_name">
  <%= link_to "イベント名： #{event.event_name}（#{@group.name}）", 
                        event_answers_path(event_url_token: event.url_token) %>
  <% unless current_user == event.user %>
  <%= link_to "イベント作成者： #{event.user.name}", 
                        user_path(id: event.user.id) %>
  <% end %>
  </span>
  <% s_date = event.start_date %>
  <% e_date = event.end_date %>
  <% wd = ["日", "月", "火", "水", "木", "金", "土"] %>
  <span class="date">開始日：<%= s_date.strftime("%Y/%m/%d(#{wd[s_date.wday]})") %></span>
  <span class="date">終了日：<%= e_date.strftime("%Y/%m/%d(#{wd[e_date.wday]})") %></span>
  <% if event.memo.present? %>
    <span class="memo">
      <%= link_to "イベント作成者のコメントがあります。", event_answers_path(event_url_token: event.url_token) %>
    </span>
  <% end %>
  <span class="picture">
    <%= image_tag event.picture.url if event.picture? %>
  </span>
  <% if @answer.blank? %>
    <span class="will_answer"><%= link_to "未回答", new_event_answer_path(event_url_token: event.url_token) %></span>
  <% else %>
    <span class="has_answered"><%= link_to "回答変更", edit_event_answer_path(id: @answer.ids , event_url_token: event.url_token) %></span>
  <% end %>
  <% if current_user?(event.user) %>
    <span class="event_edit"><%= link_to "イベント編集", edit_event_path(url_token: event.url_token) %></span>
    <span class="delete">
      <%= link_to "削除", event_path(event, url_token: event.url_token),
                          method: :delete, 
                          data: { confirm: "本当に削除しますか？" } %>
    <% end %>
  </span>
</li>


